
<div class="content-heading">
    <div>Monitors List</div>
</div>
 <!-- START card-->
<div class="card card-default">
        <div class="card-header">Details</div>
        <!-- START table-responsive-->
        <div class="table-responsive">
            <table class="table table-bordered table-hover" id="table-ext-1">
                <thead>
                    <tr>
                        <th>UID</th>
                        <th>Field 1</th>
                        <th>Field 2</th>
                        <th>Field 3</th>
                        <th>Field 4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>test</td>
                        <td>@test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>test</td>
                        <td>@test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                        <td>test</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END table-responsive-->
        <div class="card-footer">
            <div class="d-flex">
                <div>
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Search" />
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="Search">Refresh</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- START card-->